<h1>Room Summary</h1>

<table border="1">
  <tr>
    <th>Room</th>
    <th># Messages</th>
  </tr>
  <% @rooms.each do |room| %>
    <tr>
      <td><%= room.name %></td>
      <td>TBD</td>
    </tr>
  <% end %>
</table>
